$bor-r-none: 0;
$bor-r-twoxsmall: 4px;
$bor-r-xsmall: 4px;
$bor-r-small: 6px;
$bor-r-medium: 8px;
$bor-r-large: 12px;
$bor-r-xlarge: 16px;
$bor-r-twoxlarge: 24px;
$bor-r-full: 9999px;
$bor-r-interactive: 9999px;