:root {
    --r-bor-r-none: 0;
    --r-bor-r-twoxsmall: 4px;
    --r-bor-r-xsmall: 4px;
    --r-bor-r-small: 6px;
    --r-bor-r-medium: 8px;
    --r-bor-r-large: 12px;
    --r-bor-r-xlarge: 16px;
    --r-bor-r-twoxlarge: 24px;
    --r-bor-r-full: 9999px;
    --r-bor-r-interactive: 9999px;
}