:root {
    --r-size-twoxsmall: 16px;
    --r-size-xsmall: 24px;
    --r-size-small: 32px;
    --r-size-medium: 40px;
    --r-size-large: 48px;
    --r-size-xlarge: 56px;
    --r-size-twoxlarge: 64px;
}