$space-sixxsmall: 2px;
$space-fivexsmall: 4px;
$space-fourxsmall: 8px;
$space-threexsmall: 12px;
$space-twoxsmall: 16px;
$space-xsmall: 24px;
$space-small: 32px;
$space-medium: 40px;
$space-large: 48px;
$space-xlarge: 56px;
$space-twoxlarge: 64px;
$space-threexlarge: 72px;