:root {
    --r-space-sixxsmall: 2px;
    --r-space-fivexsmall: 4px;
    --r-space-fourxsmall: 8px;
    --r-space-threexsmall: 12px;
    --r-space-twoxsmall: 16px;
    --r-space-xsmall: 24px;
    --r-space-small: 32px;
    --r-space-medium: 40px;
    --r-space-large: 48px;
    --r-space-xlarge: 56px;
    --r-space-twoxlarge: 64px;
    --r-space-threexlarge: 72px;
}