:root {
    --r-text-link-weight: 500;
    --r-text-link-color-rest: --r-piccolo;
    --r-text-link-color-hover: --r-hit;
    --r-text-link-color-visited: --r-hit;
    --r-text-link-underline-width-rest: 1px;
    --r-text-link-underline-width-hover: 2px;
    --r-text-link-underline-color-rest: --r-piccolo;
    --r-text-link-underline-color-hover: --r-hit;
}
