$text-link-weight: 500;
$text-link-color-rest: $piccolo;
$text-link-color-hover: $hit;
$text-link-color-visited: $hit;
$text-link-underline-width-rest: 1px;
$text-link-underline-width-hover: 2px;
$text-link-underline-color-rest: $piccolo;
$text-link-underline-color-hover: $hit;

