// Basic colors
$base-color-1: #000000;
$base-color-2: #FFFFFF;

// Text colors
$text-primery-color: #272727;
$text-regular-color: #3D3D3D;
$text-secondary-color: #7D7D7D;
$text-placeholder-color: #BEBEBE;

// Border colors
$border-base-color: #7D7D7D;
$border-light-color: #A4A4A4;
$border-lighter-color: #BEBEBE;
$border-extra-light-color: #D8D8D8;

// Brand colors
$brand-color: #8A70D6;
$brand-sub-color-1: #EDE4FC;
$brand-sub-color-2: #DBCBFA;
$brand-sub-color-3: #C2ADF2;
$brand-sub-color-4: #AB94E6;
$brand-sub-color-5: #6951B8;
$brand-sub-color-6: #4C389A;
$brand-sub-color-7: #33237C;
$brand-sub-color-8: #211566;

// Success colors
$success-color: #9AD11B;
$success-sub-color-1: #F4FCD0;
$success-sub-color-2: #E8FAA3;
$success-sub-color-3: #D2F173;
$success-sub-color-4: #BBE34E;
$success-sub-color-5: #7EB313;
$success-sub-color-6: #64960D;
$success-sub-color-7: #4C7908;
$success-sub-color-8: #3B6405;

// Warning colors
$warning-color: #FFC300;
$warning-sub-color-1: #FFF7CC;
$warning-sub-color-2: #FFEE99;
$warning-sub-color-3: #FFE266;
$warning-sub-color-4: #FFD63F;
$warning-sub-color-5: #DBA200;
$warning-sub-color-6: #B78300;
$warning-sub-color-7: #936600;
$warning-sub-color-8: #7A5100;


// Danger colors
$danger-color: #FF5E4C;
$danger-sub-color-1: #FFEADB;
$danger-sub-color-2: #FFCFB7;
$danger-sub-color-3: #FFAF93;
$danger-sub-color-4: #FF9178;
$danger-sub-color-5: #DB3A37;
$danger-sub-color-6: #B7262F;
$danger-sub-color-7: #931829;
$danger-sub-color-8: #7A0E26;

// Info colors
$info-color: #118CFF;
$info-sub-color-1: #CFF1FF;
$info-sub-color-2: #9FDFFF;
$info-sub-color-3: #70C8FF;
$info-sub-color-4: #4CB1FF;
$info-sub-color-5: #0C6CDB;
$info-sub-color-6: #0850B7;
$info-sub-color-7: #053993;
$info-sub-color-8: #03287A;

