// Basic colors
$basic-color-1: #000000;
$basic-color-2: #FFFFFF;

// Text colors
$primery-text-color: #272727;
$regular-text-color: #3D3D3D;
$secondary-text-color: #7D7D7D;
$placeholder-text-color: #BEBEBE;

// Border colors
$base-border-color: #7D7D7D;
$light-border-color: #A4A4A4;
$lighter-border-color: #BEBEBE;
$extra-light-border-color: #D8D8D8;

// Brand colors
$brand-color: #8A70D6;
$brand-sub-color-1: #967FDA;
$brand-sub-color-2: #A18DDE;
$brand-sub-color-3: #AE9BE3;
$brand-sub-color-4: #B9A9E6;
$brand-sub-color-5: #C4B7EA;
$brand-sub-color-6: #D0C6EF;
$brand-sub-color-7: #DCD5F3;
$brand-sub-color-8: #E8E2F7;

// Success colors
$success-color: #9BDF46;
$success-sub-color-1: #AFE56B;
$success-sub-color-2: #C3EC90;
$success-sub-color-3: #D7F2B5;
$success-sub-color-4: #EBF9DA;

// Warning colors
$warning-color: #FADB3F;
$warning-sub-color-1: #FBE265;
$warning-sub-color-2: #FCE98C;
$warning-sub-color-3: #FDF1B2;
$warning-sub-color-4: #FEF8D9;

// Danger colors
$danger-color: #FF7A5C;
$danger-sub-color-1: #FF957D;
$danger-sub-color-2: #FFAF9D;
$danger-sub-color-3: #FFCABE;
$danger-sub-color-4: #FFE4DE;

// Info colors
$info-color: #7D7D7D;
$info-sub-color-1: #979797;
$info-sub-color-2: #B1B1B1;
$info-sub-color-3: #CBCBCB;
$info-sub-color-4: #E5E5E5;

