// Basic colors
$basic-color-1: #000000;
$basic-color-2: #FFFFFF;

// Text colors
$text-primery-color: #272727;
$text-regular-color: #3D3D3D;
$text-secondary-color: #7D7D7D;
$text-placeholder-color: #BEBEBE;

// Border colors
$border-base-color: #7D7D7D;
$border-light-color: #A4A4A4;
$border-lighter-color: #BEBEBE;
$border-extra-light-color: #D8D8D8;

// Brand colors
$brand-color: #8A70D6;
$brand-sub-color-1: #967FDA;
$brand-sub-color-2: #A18DDE;
$brand-sub-color-3: #AE9BE3;
$brand-sub-color-4: #B9A9E6;
$brand-sub-color-5: #C4B7EA;
$brand-sub-color-6: #D0C6EF;
$brand-sub-color-7: #DCD5F3;
$brand-sub-color-8: #E8E2F7;
$brand-sub-color-9: #F4F1FB;

// Success colors
$success-color: #439213;
$success-sub-color-1: #69A842;
$success-sub-color-2: #8EBE71;
$success-sub-color-3: #B4D3A1;
$success-sub-color-4: #D9E9D0;
$success-sub-color-5: #EDF5E8;

// Warning colors
$warning-color: #FFBF00;
$warning-sub-color-1: #FFCC33;
$warning-sub-color-2: #FFD966;
$warning-sub-color-3: #FFE599;
$warning-sub-color-4: #FFF2CC;
$warning-sub-color-5: #FFF9E6;

// Danger colors
$danger-color: #FF5E2D;
$danger-sub-color-1: #FF7E57;
$danger-sub-color-2: #FF9E81;
$danger-sub-color-3: #FFBFAB;
$danger-sub-color-4: #FFDFD5;
$danger-sub-color-5: #FFEFEA;

// Info colors
$info-color: #6CB2FC;
$info-sub-color-1: #89C1FD;
$info-sub-color-2: #A7D1FD;
$info-sub-color-3: #C4E0FE;
$info-sub-color-4: #E2F0FE;
$info-sub-color-5: #F1F8FF;

