.r-light-theme, :root.r-light-theme{
    //** Main colours
    // Accent colours
    --piccolo: #4E46B4;
    --piccolo-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #4E46B4;
    --hit: #40A69F;
    --hit-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #40A69F;
    // Border and line colours
    --beerus: #EBEBEB;
    --beerus-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #EBEBEB;
    // Background colours
    --goku: #F5F5F5;
    --gohan: #FFFFFF;
    // Text and icon colours
    --bulma: #000000;
    --trunks: #999CA0;
    // Forced colours
    --goten: #FFFFFF;
    --popo: #000000;
    //** Supportive colours
    // Warning colour
    --krillin-100: #FFB319;
    --krillin-60: #FFC652;
    --krillin-10: #FFD98D;
    // Error colour
    --chiChi-100: #FF4E64;
    --chiChi-60: #FF7687;
    --chiChi-10: #FF96A3;
    // Success colour
    --roshi-100: #4AD15F;
    --roshi-60: #64DC77;
    --roshi-10: #7FF291;
    // Other
    --dodoria-100: #D33030;
    --dodoria-60: #db4e4e;
    --dodoria-10: #F06767;

    --cell-100: #95F1D5;
    --cell-60: #A2FADF;
    --cell-10: #BFFFEC;

    --raditz-100: #B3804A;
    --raditz-60: #C1915D;
    --raditz-10: #D6A979;

    --whis-100: #3448F0;
    --whis-60: #6777F8;
    --whis-10: #8490F9;

    --frieza-100: #5C33CF;
    --frieza-60: #734DDE;
    --frieza-10: #9271EF;

    --nappa-100: #725550;
    --nappa-60: #856a66;
    --nappa-10: #a18681;

    // ** Box-shadow
    --box-shadow-small: 0 6px 6px -6px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.4);
    --box-shadow-small:	0 12px 12px -6px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.4);
    --box-shadow-small: 0 8px 24px -6px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.4);
    --box-shadow-small: 0 32px 32px -8px rgba(0, 0, 0, 0.08), 0 0 32px -8px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.2);

    //** Other
    --hover-primery: rgba(0, 0, 0, 0.08);
    --backdrop: rgba(0, 0, 0, 0.56);
    --ghost: rgba(78, 70, 180, 0.12);
}
