//** Font sizes
.r-text-9 {
    font-size: 9px;
}

.r-text-10 {
    font-size: 10px;
}

.r-text-12 {
    font-size: 12px;
}

.r-text-14 {
    font-size: 14px;
}

.r-text-16 {
    font-size: 16px;
}

.r-text-18 {
    font-size: 18px;
}

.r-text-20 {
    font-size: 20px;
}

.r-text-24 {
    font-size: 24px;
}

.r-text-32 {
    font-size: 32px;
}

.r-text-48 {
    font-size: 48px;
}

.r-text-56 {
    font-size: 56px;
}

.r-text-64 {
    font-size: 64px;
}

.r-text-72 {
    font-size: 72px;
}

//** Font weight
.r-tetx-medium {
    font-weight: 500;
}

.r-tetx-regular {
    font-weight: 500;
}

//** Text decoration

.r-text-dec-under{
    text-decoration: underline;
}
.r-text-dec-no-under{
    text-decoration: none;
}